@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

html {
    scroll-behavior: smooth;
}

body {
    background: #101820;
    color: #fff;
    overflow-x: hidden;
}

.header, .navbar a, .home, .home-content, .home-content h3, .home-content h1, .home-content p, .home-img img, .social-media a, .btn {
    opacity: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.5s;
    background-color: #101820;
}

section {
    padding-top: 20px; /* Adjust according to the height of your header */
}

.logo {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    cursor: default;
    text-decoration: none;
}

.navbar a {
    display: inline-flex;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;    
    transition: color 0.4s;
    animation: fadeInUp 1s ease forwards;
    animation-delay: calc(0.2s * var(--i) + 0.5s);
}

.navbar a:hover {
    color: #ff0048;
    text-shadow: 0 0 10px #ff0048;
    transition: color 0.3s, text-shadow 0.3s;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 70px 10% 0;
    text-align: center;
    animation: fadeIn 1s ease forwards;
    animation-delay: 1s;
}

@media (max-width: 600px) {
    .home {
        margin-top: 250px;
    }
}

.home-content {
    max-width: 900px;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 1.5s;
}

.home-content h3 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content h3 span {
    color: #ff0048;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 1.7s;
}

.home-content p {
    font-size: 24px;
    margin: 20px 0;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 1.8s;
}

.home-img img {
    max-width: 450px;
    animation: fadeIn 1s ease forwards, zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1.9s, 3s;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-media a, .contact-details a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid #ff0048;
    border-radius: 50%;
    font-size: 20px;
    color: #ff0048; /* Keep these icons pink */
    text-decoration: none;
    margin-right: 15px;
    transition: background 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    animation: fadeInUp 1s ease forwards;
    animation-delay: calc(.2s * var(--i) + 2s);
}

.social-media a:hover, .contact-details a:hover {
    background: #ff0048;
    color: #1f242d;
    box-shadow: 0 0 20px #ff0048;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

@keyframes floatImage{
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-24px);
	}
	100% {
		transform: translateY(0);
	}
}

.project-info {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.project-info h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 2.4s;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.project-info h2 .project-links {
    display: flex;
    gap: 15px;
}

.project-info p {
    font-size: 20px;
}

.project-links a {
    font-size: 28px; /* Increase the size of the icons */
    color: #fff; /* Set icon color to white */
    text-decoration: none;
    transition: color 0.3s;
}

.project-links a:hover {
    color: #ff0048; /* Change to pink on hover */
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the icon */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px; /* Make tooltip smaller */
    width: max-content; /* Adjust width to fit content */
    white-space: nowrap; /* Prevent tooltip from wrapping text */
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%; /* Arrow at the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Project section styling */
.projects-section {
    margin: 50px 10%;
    text-align: center;
    margin-bottom: 100px;
}

.projects-header {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #fff;
    animation: fadeIn 1s ease forwards;
    animation-delay: 2s;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s ease forwards;
    animation-delay: 2.1s;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    width: 100%;
    max-width: 1200px;
    background: #101820;
    padding: 30px;
    border-radius: 10px;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 2.2s;
}

.project-img {
    margin-bottom: 20px;
    animation: fadeIn 1s ease forwards;
    animation-delay: 2.3s;
}

.project-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* Line between projects */
hr {
    width: 70%;
    border: 1px solid #fff;
    margin: 40px 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 2.6s;
}

/* Media query for larger screens */
@media (min-width: 769px) {
    .project {
        flex-direction: row;
    }

    .project.reverse {
        flex-direction: row-reverse;
    }

    .project-img {
        margin: 0 20px 0 0;
    }

    .project.reverse .project-img {
        margin: 0 0 0 20px;
    }

    .project-info {
        margin: 0 20px;
    }
}

.skills-section {
    margin: 50px 10%;
    text-align: center;
    color: #fff;
}

.skills-header {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #fff;
    animation: fadeIn 1s ease forwards;
    animation-delay: 2s;
}

.skills-category {
    margin-bottom: 40px;
}

.skills-category h4 {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    animation: fadeIn 1s ease forwards;
    animation-delay: 2.1s;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    animation: fadeIn 1s ease forwards;
    animation-delay: 2.1s;
}

.skill {
    background: #20232a;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background 0.3s;
}

.skill:hover {
    transform: translateY(-10px);
    background: #ff0048;
    color: #1f242d;
}

.skill i {
    font-size: 48px;
    margin-bottom: 10px;
}

.skill p {
    font-size: 20px;
    margin: 0;
}

.contact-section {
    margin: 100px 10%;
    text-align: center;
    color: #fff;
}

.contact-header {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #fff;
    animation: fadeIn 1s ease forwards;
    animation-delay: 2s;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease forwards;
    animation-delay: 2.1s;
}

.profile-picture img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
}

.contact-details {
    display: flex; 
    justify-content: center;
    margin-bottom: 20px;
}

.contact-details a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid #ff0048;
    border-radius: 50%;
    font-size: 20px;
    color: #ff0048; /* Keep these icons white */
    text-decoration: none;
    transition: background 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    animation: fadeInUp 1s ease forwards;
    animation-delay: calc(.2s * var(--i) + 2s);
    margin-left: 15px;
}

.contact-details a:hover {
    background: #ff0048;
    color: #1f242d;
    box-shadow: 0 0 20px #ff0048;
}

.contact-form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #20232a;
    color: #fff;
}

.contact-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #ff0048;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

.contact-form button:hover {
    background: #e6003d;
}

section {
    padding-top: 55px; 
}

/* Style for smooth scrolling offset */
html {
    scroll-behavior: smooth;
}
